/* About Me CSS */

.about-me-wrapper {
    background-color: #333;
    border: 1px solid rgba(138,208,255,0.55);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 15px 15px -15px rgba(138,208,255,0.75);
}

.about-me {
    display: flex;
    width: 1140px;
    margin: auto;
    color: #fff;
}

.part-I {
    display: flex;
}

.bio-me h1 {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

.picture {
    width: 204px;
    height: 254px;
    border: 2px solid #fff;
    margin: 25px 0 10px 25px;
}

.bio-me {
    margin: 15px;
}

.bio-me-2 {
    margin: 70px;
}

.history {
    margin: 5px 25px 25px 25px;
    text-align: justify;
    line-height: 20px;
}

b {
    color: rgb(138, 208, 255);
}