/* About Me CSS */

.about-me {
    display: flex;
    width: 1140px;
    margin: auto;
    color: #fff;
    background-color: #333;
}

.picture {
    width: 204px;
    height: 254px;
    border: 2px solid #fff;
    margin: 15px 0 15px 15px;
}

.bio-me {
    margin: 15px 0 15px 15px;
}

.history {
    margin: 5px 0 25px 15px;
    line-height: 9px;
}