/* Portfolio CSS */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37, 37, 37) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  
}

.challenge-wrapper {
  width: 1140px;
  margin: auto;
  background-color: #555;
}

.challenge-title {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.challenge-title p {
  font-size: 12px;
}

.challenges {
  display: flex;
}

.divide-line-challenge {
  margin: 0 auto 25px auto;
  width: 35%;
  background-color: #fff;
  align-content: center;
}

.gap {
  margin: 75px;
}